/***** General styling *****/
body {
  color: #1f2161;
}

p {
  text-align: justify;
}

a {
  color: #0f773c;
}

a:hover {
  color: #cb831e;
  text-decoration: none;
}

/***** Nav *****/
/* NOTE: smooth css animations */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.htmlBody #sidebarWrapper,
#sidebarWrapper .sidebar-brand > a,
.htmlBody .page-content,
#sidebarWrapper .navMenu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/***** When sidebar is toggled *****/
.htmlBody.toggled #sidebarWrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .htmlBody.toggled .page-content {
    padding-left: 300px;
  }
}

/***** Open/Close Sidebar *****/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 1.3rem;
  border-radius: 0 4px 4px 0px;
  width: 2.5rem;
  transition-delay: 0.3s;
  z-index: 2;
  color: #56b4f1;
  background-color: #fefdfb;
  font-size: 1.3em;
  padding-bottom: 0;
}

#hamburger {
  margin-bottom: 0;
}

.htmlBody.toggled #show-sidebar {
  left: -40px;
}

.htmlBody.toggled #close-sidebar {
  color: #1f2161;
}

.htmlBody.toggled #close-sidebar:hover {
  color: #56b4f1;
}

/***** Sidebar: general *****/
#sidebarWrapper {
  width: 18.8rem;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 2;
  overflow-y: auto;
  background: #f4f4f6;
}

#sidebarWrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/***** Sidebar brand & logo *****/
#sidebarWrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

#sidebarWrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

#sidebarWrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 1.5rem;
}

.sidebar-logo {
  margin-top: 0;
}

/***** Sidebar nav links *****/
.navMenu {
  padding-bottom: 10px;
}

.navMenu ul li a {
  padding: 8px 30px 8px 20px;
}

.sidebar-brand > a,
.navMenu ul li a {
  color: #1f2161;
}

.navMenu ul li:hover > a,
.sidebar-brand > a:hover {
  color: #56b4f1;
}

/***** Search button main page *****/

#search-btn {
  color: #56b4f1;
  border-color: #56b4f1;
  margin-top: 8px;
}

#search-btn:hover {
  background-color: #56b4f1;
  color: white;
}
